.container__header_320 {
    height: 88px;
    background: #ffffff;
    padding: 0px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container__header--line {
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
}
.container__header_1120 , .container__header_768 {
  display: none;
}
.container__header__leftIcons {
  display: flex;
  justify-content: space-around;
  gap: 45px;
  align-items: center;
  height: 88px;
  background: #F8F8F8;
  padding: 0px 0;
}

.container__header__rightIcons {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  height: 88px;
  background: #ffffff;
  padding: 0px 0;
  background-color: #F8F8F8;
}
img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}
h1 {
  color: black;
  margin: 0;
  font-family: 'TT Lakes', sans-serif;
  font-size: 28px;

}
.container__header--logo {
    width: 96.54814910888672px;
    height: 50.81px;
}

.container__mainBody {
    background-color: #F8F8F8;
    padding-bottom: 20px;
    overflow: scroll;

    border-top: solid 1px #D9FFF5;
}

.container__mainBody--h1Line {
    width: 4px;
    height: 40px;
    background-color: #41F6D7;
    display: flex;
    justify-content: center;
    align-content: start;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 0;
}

.container__mainBodyHeader {
    display: flex;
    justify-content: start;
    gap: 25px;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;

}

.pannel {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    overflow: scroll;
    margin-left: 10px;


}

.pannel-item {
    color: #7E7E82;
    display: flexs;
    justify-content: center;
    align-items: center;
    font-family: 'TT Lakes', sans-serif;
    cursor: pointer;
    font-size: 20px;
    overflow: scroll;
    min-width: max-content;
}

.container__mainBody--content {
    display: flex;
    justify-content: start;
    align-items: center;
    overflow: scroll;
    margin-left: 20px;

}

.pannel-item:first-child {
    background-color: white;
    border: solid 2px #B8FFEC;
    border-radius: 6px;
    padding: 10px;
}

.pannel::-webkit-scrollbar {
    width: 0;
    background: transparent;
}


.info-block {
  background-color: #F8F8F8;
  display: flex;
  flex-direction: column;
  justify-items: center;
}


.info-block-item {
  color: #27282e;
  font-family: 'TT Lakes', sans-serif;
  font-size: 18px;
  line-height: 24px;
  display: block;
  margin: 10px;
  margin-bottom: 0;

}

.additional-info {
  display: flex;
  font-size: large;
  margin-bottom: 10px;
  align-items: center;
  margin-top: 0;
}

.additional-info-label {
  color: #1B1C21;
  font-family: 'TT Lakes', sans-serif;
  font-weight: 500;
  cursor: pointer;

}

.mainImg {
  width: 100%;
  height: 100%;
}
.lable1120, .lable768 {
  display: none;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('./fonts/TTLakesCondensed-Regular.woff2') format('woff2'),
    url('./fonts/TTLakesCondensed-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('./fonts/TTLakes-Bold.woff') format('woff'),
    url('./fonts/TTLakesCondensed-Bold.woff') format('woff');
  font-weight: 700;
  font-style: bold;
}
@media (min-width: 768px) {
  body{
    background-color: #F8F8F8;
  }

  .container__header_320 {
    display: none;
  }

  .container__header_768 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    height: 88px;
    background: #ffffff;
    padding: 0px 0;
    background-color: #FFF;
    padding-left: 2%;
    padding-right: 2%;
  }

  .container__header__leftIcons {
    background-color: #fff;
    display: flex;
    justify-content: start;
    gap: 35px;
    
  }

  .container__header__rightIcons {
    background-color: #fff;
  }

  .info-block {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #F8F8F8;
  }

  .info-block-item {
    font-size: 17px;
  }

  .lable768 {
    display: block;
  }

  .mainImg {
    width: 90%;
    border-radius: 5px;
  }

}
@media (min-width: 1120px) {
  body{
    background-color: #F8F8F8;
  }
  .container__header_320 {
    display: none;
  }

  .container__header_768 {
    display: none;
  }

  .container__header_1120 {
    display: flex;
    justify-content: space-between;
    color: #1B1C21;
    align-items: center;
    height: 88px;
    background: #ffffff;
    padding: 0px 0;
    background-color: #F8F8F8;
  }

  .container__header__leftIcons {
    background-color: #F8F8F8;
  }

  .container__header__rightIcons {
    background-color: #F8F8F8;
  }

  .info-block {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 35px;
  }

  .container__mainBodyHeader {
    display: none;
  }

  .container__mainBody {
    border-top: none;
  }

  .lable768 {
    display: inline-block;
  }

  .lable1120 {
    display: inline;
  }
  .divs {
    font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  font-family: 'TT Lakes', sans-serif;

}

  .mainImg {
    border-radius: 5px;
    height: 100%;
  }
}
